.textfield {
  position: relative;
  overflow: visible;
}

.textfield input {
  width: 200px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
}

.textfield input + .callout {
  visibility: hidden;
  display: none;
}

.textfield input:focus + .callout {
  display: block;
  width: 100px;
  padding-left: 0.5em;
  border-radius: 0.2em;
  color: white;
  background: green;
  visibility: visible;
  position: absolute;
  top: 100%;
  left: 0;
}

.textfield input + .callout::before {
  visibility: visible;
  content: " ";
  position: absolute;
  top: -25%;
  left: 20%;
  margin-right: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent green transparent;
}
